In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_sql").getOrCreate()

In [2]:
spark

In [3]:
order_df = spark.read \
    .format("csv") \
        .option("header","true") \
            .option("inferSchema","true") \
                .load("hdfs://localhost:9000/user/tkm/data/orders.csv")

In [4]:
order_df.show(3)

+---+--------+----------+-----------+--------+
|_c0|order_id|      date|customer_id|  status|
+---+--------+----------+-----------+--------+
|  0|       1|09/11/2020|       3371|  CLOSED|
|  1|       2|12/01/2020|       3902| PENDING|
|  2|       3|12/09/2020|       3009|COMPLETE|
+---+--------+----------+-----------+--------+
only showing top 3 rows

In [5]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [6]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [7]:
order_df.createOrReplaceTempView("order_table")

In [8]:
spark.sql("show tables").show()

+---------+-----------+-----------+
|namespace|  tableName|isTemporary|
+---------+-----------+-----------+
|         |order_table|       true|
+---------+-----------+-----------+

In [9]:
spark.sql("select * from order_table where status = 'PENDING' ").show()

+---+--------+----------+-----------+-------+
|_c0|order_id|      date|customer_id| status|
+---+--------+----------+-----------+-------+
|  1|       2|12/01/2020|       3902|PENDING|
|  3|       4|22/08/2020|       3023|PENDING|
|  4|       5|17/04/2020|       4315|PENDING|
|  6|       7|04/04/2020|       3248|PENDING|
| 11|      12|04/08/2020|       3743|PENDING|
| 16|      17|07/06/2020|       4189|PENDING|
| 18|      19|02/08/2020|       3669|PENDING|
| 19|      20|18/02/2020|       4251|PENDING|
| 20|      21|11/12/2020|       4540|PENDING|
| 25|      26|26/02/2020|       4729|PENDING|
| 27|      28|04/11/2020|       4112|PENDING|
| 28|      29|03/11/2020|       3552|PENDING|
| 30|      31|09/09/2020|       3948|PENDING|
| 33|      34|22/03/2020|       4308|PENDING|
| 42|      43|01/05/2020|       4301|PENDING|
| 45|      46|25/04/2020|       4245|PENDING|
| 52|      53|13/09/2020|       4873|PENDING|
| 53|      54|15/09/2020|       4821|PENDING|
| 54|      55|02/04/2020|       3138|PENDING|
| 57|      58|06/05/2020|       4355|PENDING|
+---+--------+----------+-----------+-------+
only showing top 20 rows

In [10]:
spark.sql("create database sample")

DataFrame[]

In [11]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|   sample|
+---------+

In [12]:
spark.sql("show tables").show()

+---------+-----------+-----------+
|namespace|  tableName|isTemporary|
+---------+-----------+-----------+
|         |order_table|       true|
+---------+-----------+-----------+

In [13]:
spark.sql("use sample")

DataFrame[]

In [14]:
spark.sql("show tables").show()

+---------+-----------+-----------+
|namespace|  tableName|isTemporary|
+---------+-----------+-----------+
|         |order_table|       true|
+---------+-----------+-----------+

In [15]:
spark.stop()