In [95]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [96]:
spark = SparkSession.builder.appName("spark_reader").getOrCreate()

In [4]:
df1 = spark.read \
    .format("csv") \
        .option("header","true") \
            .option("inferSchema","true") \
                .load("hdfs://localhost:9000/user/tkm/data/orders.csv")

In [7]:
df1.show()

+---+--------+----------+-----------+--------+
|_c0|order_id|      date|customer_id|  status|
+---+--------+----------+-----------+--------+
|  0|       1|09/11/2020|       3371|  CLOSED|
|  1|       2|12/01/2020|       3902| PENDING|
|  2|       3|12/09/2020|       3009|COMPLETE|
|  3|       4|22/08/2020|       3023| PENDING|
|  4|       5|17/04/2020|       4315| PENDING|
|  5|       6|24/12/2020|       3462|COMPLETE|
|  6|       7|04/04/2020|       3248| PENDING|
|  7|       8|13/06/2020|       4434|  CLOSED|
|  8|       9|14/02/2020|       4580|COMPLETE|
|  9|      10|22/06/2020|       3295|COMPLETE|
| 10|      11|18/03/2020|       3786|COMPLETE|
| 11|      12|04/08/2020|       3743| PENDING|
| 12|      13|18/04/2020|       4555|  CLOSED|
| 13|      14|30/04/2020|       3069|  CLOSED|
| 14|      15|08/05/2020|       3042|COMPLETE|
| 15|      16|04/12/2020|       3980|  CLOSED|
| 16|      17|07/06/2020|       4189| PENDING|
| 17|      18|15/02/2020|       3271|COMPLETE|
| 18|      19|02/08/2020|       3669| PENDING|
| 19|      20|18/02/2020|       4251| PENDING|
+---+--------+----------+-----------+--------+
only showing top 20 rows

In [5]:
spark.read.csv("hdfs://localhost:9000/user/tkm/data/orders.csv",header = "true",inferSchema="True").show()

+---+--------+----------+-----------+--------+
|_c0|order_id|      date|customer_id|  status|
+---+--------+----------+-----------+--------+
|  0|       1|09/11/2020|       3371|  CLOSED|
|  1|       2|12/01/2020|       3902| PENDING|
|  2|       3|12/09/2020|       3009|COMPLETE|
|  3|       4|22/08/2020|       3023| PENDING|
|  4|       5|17/04/2020|       4315| PENDING|
|  5|       6|24/12/2020|       3462|COMPLETE|
|  6|       7|04/04/2020|       3248| PENDING|
|  7|       8|13/06/2020|       4434|  CLOSED|
|  8|       9|14/02/2020|       4580|COMPLETE|
|  9|      10|22/06/2020|       3295|COMPLETE|
| 10|      11|18/03/2020|       3786|COMPLETE|
| 11|      12|04/08/2020|       3743| PENDING|
| 12|      13|18/04/2020|       4555|  CLOSED|
| 13|      14|30/04/2020|       3069|  CLOSED|
| 14|      15|08/05/2020|       3042|COMPLETE|
| 15|      16|04/12/2020|       3980|  CLOSED|
| 16|      17|07/06/2020|       4189| PENDING|
| 17|      18|15/02/2020|       3271|COMPLETE|
| 18|      19|02/08/2020|       3669| PENDING|
| 19|      20|18/02/2020|       4251| PENDING|
+---+--------+----------+-----------+--------+
only showing top 20 rows

In [12]:
df2 = df1.withColumnRenamed("_c0","row_number")

In [13]:
df2.printSchema()

root
 |-- row_number: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- status: string (nullable = true)

In [14]:
df2.show(4)

+----------+--------+----------+-----------+--------+
|row_number|order_id|      date|customer_id|  status|
+----------+--------+----------+-----------+--------+
|         0|       1|09/11/2020|       3371|  CLOSED|
|         1|       2|12/01/2020|       3902| PENDING|
|         2|       3|12/09/2020|       3009|COMPLETE|
|         3|       4|22/08/2020|       3023| PENDING|
+----------+--------+----------+-----------+--------+
only showing top 4 rows

In [18]:
df1.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- status: string (nullable = true)

In [10]:
df1.show()

+---+--------+----------+-----------+--------+
|_c0|order_id|      date|customer_id|  status|
+---+--------+----------+-----------+--------+
|  0|       1|09/11/2020|       3371|  CLOSED|
|  1|       2|12/01/2020|       3902| PENDING|
|  2|       3|12/09/2020|       3009|COMPLETE|
|  3|       4|22/08/2020|       3023| PENDING|
|  4|       5|17/04/2020|       4315| PENDING|
|  5|       6|24/12/2020|       3462|COMPLETE|
|  6|       7|04/04/2020|       3248| PENDING|
|  7|       8|13/06/2020|       4434|  CLOSED|
|  8|       9|14/02/2020|       4580|COMPLETE|
|  9|      10|22/06/2020|       3295|COMPLETE|
| 10|      11|18/03/2020|       3786|COMPLETE|
| 11|      12|04/08/2020|       3743| PENDING|
| 12|      13|18/04/2020|       4555|  CLOSED|
| 13|      14|30/04/2020|       3069|  CLOSED|
| 14|      15|08/05/2020|       3042|COMPLETE|
| 15|      16|04/12/2020|       3980|  CLOSED|
| 16|      17|07/06/2020|       4189| PENDING|
| 17|      18|15/02/2020|       3271|COMPLETE|
| 18|      19|02/08/2020|       3669| PENDING|
| 19|      20|18/02/2020|       4251| PENDING|
+---+--------+----------+-----------+--------+
only showing top 20 rows

Json

In [28]:
spark.read.format("json")\
    .option("inferschema","true")\
        .option("mode","PERMISSIVE")\
            .load("C:\\Users\\TARUN\\Desktop\\Pyspark\\manish\\line_delimited_json.json").show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [30]:
spark.read.format("json")\
    .option("inferschema","true")\
        .option("mode","PERMISSIVE")\
            .option("multiline","true")\
            .load("C:\\Users\\TARUN\\Desktop\\Pyspark\\manish\\Multi_line_correct.json").show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [31]:
spark.read.format("json")\
    .option("inferschema","true")\
        .option("mode","PERMISSIVE")\
            .option("multiline","true")\
            .load("C:\\Users\\TARUN\\Desktop\\Pyspark\\manish\\experiment.json").show()

+---+--------------------+------+------+
|age|               group|  name|salary|
+---+--------------------+------+------+
| 20|[{20, Manish, 200...|Manish| 20000|
+---+--------------------+------+------+

In [32]:
spark.read.format("json")\
    .option("inferschema","true")\
        .option("mode","PERMISSIVE")\
            .option("multiline","true")\
            .load("C:\\Users\\TARUN\\Desktop\\Pyspark\\order\\order.json").show()

+-----------+----------+--------+----------+--------+
|customer_id|      date|order_id|row_number|  status|
+-----------+----------+--------+----------+--------+
|       3371|09/11/2020|       1|         0|  CLOSED|
|       3902|12/01/2020|       2|         1| PENDING|
|       3009|12/09/2020|       3|         2|COMPLETE|
|       3023|22/08/2020|       4|         3| PENDING|
|       4315|17/04/2020|       5|         4| PENDING|
|       3462|24/12/2020|       6|         5|COMPLETE|
|       3248|04/04/2020|       7|         6| PENDING|
|       4434|13/06/2020|       8|         7|  CLOSED|
|       4580|14/02/2020|       9|         8|COMPLETE|
|       3295|22/06/2020|      10|         9|COMPLETE|
|       3786|18/03/2020|      11|        10|COMPLETE|
|       3743|04/08/2020|      12|        11| PENDING|
|       4555|18/04/2020|      13|        12|  CLOSED|
|       3069|30/04/2020|      14|        13|  CLOSED|
|       3042|08/05/2020|      15|        14|COMPLETE|
|       3980|04/12/2020|      16|        15|  CLOSED|
|       4189|07/06/2020|      17|        16| PENDING|
|       3271|15/02/2020|      18|        17|COMPLETE|
|       3669|02/08/2020|      19|        18| PENDING|
|       4251|18/02/2020|      20|        19| PENDING|
+-----------+----------+--------+----------+--------+
only showing top 20 rows

In [33]:
spark.read.format("json")\
    .option("inferschema","true")\
        .option("mode","PERMISSIVE")\
            .option("multiline","true")\
            .load("hdfs://localhost:9000/user/tkm/data/order.json").show()

+-----------+----------+--------+----------+--------+
|customer_id|      date|order_id|row_number|  status|
+-----------+----------+--------+----------+--------+
|       3371|09/11/2020|       1|         0|  CLOSED|
|       3902|12/01/2020|       2|         1| PENDING|
|       3009|12/09/2020|       3|         2|COMPLETE|
|       3023|22/08/2020|       4|         3| PENDING|
|       4315|17/04/2020|       5|         4| PENDING|
|       3462|24/12/2020|       6|         5|COMPLETE|
|       3248|04/04/2020|       7|         6| PENDING|
|       4434|13/06/2020|       8|         7|  CLOSED|
|       4580|14/02/2020|       9|         8|COMPLETE|
|       3295|22/06/2020|      10|         9|COMPLETE|
|       3786|18/03/2020|      11|        10|COMPLETE|
|       3743|04/08/2020|      12|        11| PENDING|
|       4555|18/04/2020|      13|        12|  CLOSED|
|       3069|30/04/2020|      14|        13|  CLOSED|
|       3042|08/05/2020|      15|        14|COMPLETE|
|       3980|04/12/2020|      16|        15|  CLOSED|
|       4189|07/06/2020|      17|        16| PENDING|
|       3271|15/02/2020|      18|        17|COMPLETE|
|       3669|02/08/2020|      19|        18| PENDING|
|       4251|18/02/2020|      20|        19| PENDING|
+-----------+----------+--------+----------+--------+
only showing top 20 rows

In [36]:
# shortcut should not be used it will only work for line_delimited_json
spark.read.json("C:\\Users\\TARUN\\Desktop\\Pyspark\\manish\\line_delimited_json.json").show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [37]:
order_json_df = spark.read.format("json")\
    .option("inferschema","true")\
        .option("mode","PERMISSIVE")\
            .option("multiline","true")\
            .load("hdfs://localhost:9000/user/tkm/data/order.json")

In [38]:
order_json_df.printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- row_number: long (nullable = true)
 |-- status: string (nullable = true)

In [43]:
spark.read.json("hdfs://localhost:9000/user/tkm/data/order.json" , multiLine = "true").show()

+-----------+----------+--------+----------+--------+
|customer_id|      date|order_id|row_number|  status|
+-----------+----------+--------+----------+--------+
|       3371|09/11/2020|       1|         0|  CLOSED|
|       3902|12/01/2020|       2|         1| PENDING|
|       3009|12/09/2020|       3|         2|COMPLETE|
|       3023|22/08/2020|       4|         3| PENDING|
|       4315|17/04/2020|       5|         4| PENDING|
|       3462|24/12/2020|       6|         5|COMPLETE|
|       3248|04/04/2020|       7|         6| PENDING|
|       4434|13/06/2020|       8|         7|  CLOSED|
|       4580|14/02/2020|       9|         8|COMPLETE|
|       3295|22/06/2020|      10|         9|COMPLETE|
|       3786|18/03/2020|      11|        10|COMPLETE|
|       3743|04/08/2020|      12|        11| PENDING|
|       4555|18/04/2020|      13|        12|  CLOSED|
|       3069|30/04/2020|      14|        13|  CLOSED|
|       3042|08/05/2020|      15|        14|COMPLETE|
|       3980|04/12/2020|      16|        15|  CLOSED|
|       4189|07/06/2020|      17|        16| PENDING|
|       3271|15/02/2020|      18|        17|COMPLETE|
|       3669|02/08/2020|      19|        18| PENDING|
|       4251|18/02/2020|      20|        19| PENDING|
+-----------+----------+--------+----------+--------+
only showing top 20 rows

In [44]:
spark.read.parquet("C:\\Users\\TARUN\\Desktop\\Pyspark\\order\\orders.parquet").show()

+-------+--------+----------+-----------+--------+
|column0|order_id|      date|customer_id|  status|
+-------+--------+----------+-----------+--------+
|      0|       1|2020-11-09|       3371|  CLOSED|
|      1|       2|2020-01-12|       3902| PENDING|
|      2|       3|2020-09-12|       3009|COMPLETE|
|      3|       4|2020-08-22|       3023| PENDING|
|      4|       5|2020-04-17|       4315| PENDING|
|      5|       6|2020-12-24|       3462|COMPLETE|
|      6|       7|2020-04-04|       3248| PENDING|
|      7|       8|2020-06-13|       4434|  CLOSED|
|      8|       9|2020-02-14|       4580|COMPLETE|
|      9|      10|2020-06-22|       3295|COMPLETE|
|     10|      11|2020-03-18|       3786|COMPLETE|
|     11|      12|2020-08-04|       3743| PENDING|
|     12|      13|2020-04-18|       4555|  CLOSED|
|     13|      14|2020-04-30|       3069|  CLOSED|
|     14|      15|2020-05-08|       3042|COMPLETE|
|     15|      16|2020-12-04|       3980|  CLOSED|
|     16|      17|2020-06-07|       4189| PENDING|
|     17|      18|2020-02-15|       3271|COMPLETE|
|     18|      19|2020-08-02|       3669| PENDING|
|     19|      20|2020-02-18|       4251| PENDING|
+-------+--------+----------+-----------+--------+
only showing top 20 rows

In [46]:
spark.read.orc("C:\\Users\\TARUN\\Desktop\\Pyspark\\order\\orc").show()

+-------+---+
|   name|age|
+-------+---+
|Charlie| 35|
|  Alice| 25|
|    Bob| 30|
+-------+---+

In [52]:
df1.show(2)

+---+--------+----------+-----------+-------+
|_c0|order_id|      date|customer_id| status|
+---+--------+----------+-----------+-------+
|  0|       1|09/11/2020|       3371| CLOSED|
|  1|       2|12/01/2020|       3902|PENDING|
+---+--------+----------+-----------+-------+
only showing top 2 rows

In [61]:
df1.where(df1.status == "CLOSED").show()

+---+--------+----------+-----------+------+
|_c0|order_id|      date|customer_id|status|
+---+--------+----------+-----------+------+
|  0|       1|09/11/2020|       3371|CLOSED|
|  7|       8|13/06/2020|       4434|CLOSED|
| 12|      13|18/04/2020|       4555|CLOSED|
| 13|      14|30/04/2020|       3069|CLOSED|
| 15|      16|04/12/2020|       3980|CLOSED|
| 21|      22|11/10/2020|       3700|CLOSED|
| 22|      23|26/01/2020|       4796|CLOSED|
| 26|      27|07/04/2020|       4990|CLOSED|
| 29|      30|28/02/2020|       3408|CLOSED|
| 31|      32|08/11/2020|       4463|CLOSED|
| 32|      33|03/05/2020|       3456|CLOSED|
| 34|      35|24/03/2020|       4669|CLOSED|
| 36|      37|07/08/2020|       4007|CLOSED|
| 37|      38|19/08/2020|       4187|CLOSED|
| 38|      39|19/02/2020|       4372|CLOSED|
| 40|      41|27/01/2020|       4416|CLOSED|
| 41|      42|14/11/2020|       3251|CLOSED|
| 46|      47|07/06/2020|       3817|CLOSED|
| 48|      49|19/11/2020|       4760|CLOSED|
| 50|      51|27/07/2020|       4299|CLOSED|
+---+--------+----------+-----------+------+
only showing top 20 rows

In [62]:
df1.filter(df1.status == "CLOSED").show()

+---+--------+----------+-----------+------+
|_c0|order_id|      date|customer_id|status|
+---+--------+----------+-----------+------+
|  0|       1|09/11/2020|       3371|CLOSED|
|  7|       8|13/06/2020|       4434|CLOSED|
| 12|      13|18/04/2020|       4555|CLOSED|
| 13|      14|30/04/2020|       3069|CLOSED|
| 15|      16|04/12/2020|       3980|CLOSED|
| 21|      22|11/10/2020|       3700|CLOSED|
| 22|      23|26/01/2020|       4796|CLOSED|
| 26|      27|07/04/2020|       4990|CLOSED|
| 29|      30|28/02/2020|       3408|CLOSED|
| 31|      32|08/11/2020|       4463|CLOSED|
| 32|      33|03/05/2020|       3456|CLOSED|
| 34|      35|24/03/2020|       4669|CLOSED|
| 36|      37|07/08/2020|       4007|CLOSED|
| 37|      38|19/08/2020|       4187|CLOSED|
| 38|      39|19/02/2020|       4372|CLOSED|
| 40|      41|27/01/2020|       4416|CLOSED|
| 41|      42|14/11/2020|       3251|CLOSED|
| 46|      47|07/06/2020|       3817|CLOSED|
| 48|      49|19/11/2020|       4760|CLOSED|
| 50|      51|27/07/2020|       4299|CLOSED|
+---+--------+----------+-----------+------+
only showing top 20 rows

In [65]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [66]:
df1.where(col("status") == "CLOSED").show()

+---+--------+----------+-----------+------+
|_c0|order_id|      date|customer_id|status|
+---+--------+----------+-----------+------+
|  0|       1|09/11/2020|       3371|CLOSED|
|  7|       8|13/06/2020|       4434|CLOSED|
| 12|      13|18/04/2020|       4555|CLOSED|
| 13|      14|30/04/2020|       3069|CLOSED|
| 15|      16|04/12/2020|       3980|CLOSED|
| 21|      22|11/10/2020|       3700|CLOSED|
| 22|      23|26/01/2020|       4796|CLOSED|
| 26|      27|07/04/2020|       4990|CLOSED|
| 29|      30|28/02/2020|       3408|CLOSED|
| 31|      32|08/11/2020|       4463|CLOSED|
| 32|      33|03/05/2020|       3456|CLOSED|
| 34|      35|24/03/2020|       4669|CLOSED|
| 36|      37|07/08/2020|       4007|CLOSED|
| 37|      38|19/08/2020|       4187|CLOSED|
| 38|      39|19/02/2020|       4372|CLOSED|
| 40|      41|27/01/2020|       4416|CLOSED|
| 41|      42|14/11/2020|       3251|CLOSED|
| 46|      47|07/06/2020|       3817|CLOSED|
| 48|      49|19/11/2020|       4760|CLOSED|
| 50|      51|27/07/2020|       4299|CLOSED|
+---+--------+----------+-----------+------+
only showing top 20 rows

In [67]:
df1.createOrReplaceTempView("df1_table")

In [69]:
spark.sql("select * from df1_table where status = 'CLOSED'").show()

+---+--------+----------+-----------+------+
|_c0|order_id|      date|customer_id|status|
+---+--------+----------+-----------+------+
|  0|       1|09/11/2020|       3371|CLOSED|
|  7|       8|13/06/2020|       4434|CLOSED|
| 12|      13|18/04/2020|       4555|CLOSED|
| 13|      14|30/04/2020|       3069|CLOSED|
| 15|      16|04/12/2020|       3980|CLOSED|
| 21|      22|11/10/2020|       3700|CLOSED|
| 22|      23|26/01/2020|       4796|CLOSED|
| 26|      27|07/04/2020|       4990|CLOSED|
| 29|      30|28/02/2020|       3408|CLOSED|
| 31|      32|08/11/2020|       4463|CLOSED|
| 32|      33|03/05/2020|       3456|CLOSED|
| 34|      35|24/03/2020|       4669|CLOSED|
| 36|      37|07/08/2020|       4007|CLOSED|
| 37|      38|19/08/2020|       4187|CLOSED|
| 38|      39|19/02/2020|       4372|CLOSED|
| 40|      41|27/01/2020|       4416|CLOSED|
| 41|      42|14/11/2020|       3251|CLOSED|
| 46|      47|07/06/2020|       3817|CLOSED|
| 48|      49|19/11/2020|       4760|CLOSED|
| 50|      51|27/07/2020|       4299|CLOSED|
+---+--------+----------+-----------+------+
only showing top 20 rows

In [72]:
df_ty=spark.read.table("df1_table")

In [73]:
df_ty.show()

+---+--------+----------+-----------+--------+
|_c0|order_id|      date|customer_id|  status|
+---+--------+----------+-----------+--------+
|  0|       1|09/11/2020|       3371|  CLOSED|
|  1|       2|12/01/2020|       3902| PENDING|
|  2|       3|12/09/2020|       3009|COMPLETE|
|  3|       4|22/08/2020|       3023| PENDING|
|  4|       5|17/04/2020|       4315| PENDING|
|  5|       6|24/12/2020|       3462|COMPLETE|
|  6|       7|04/04/2020|       3248| PENDING|
|  7|       8|13/06/2020|       4434|  CLOSED|
|  8|       9|14/02/2020|       4580|COMPLETE|
|  9|      10|22/06/2020|       3295|COMPLETE|
| 10|      11|18/03/2020|       3786|COMPLETE|
| 11|      12|04/08/2020|       3743| PENDING|
| 12|      13|18/04/2020|       4555|  CLOSED|
| 13|      14|30/04/2020|       3069|  CLOSED|
| 14|      15|08/05/2020|       3042|COMPLETE|
| 15|      16|04/12/2020|       3980|  CLOSED|
| 16|      17|07/06/2020|       4189| PENDING|
| 17|      18|15/02/2020|       3271|COMPLETE|
| 18|      19|02/08/2020|       3669| PENDING|
| 19|      20|18/02/2020|       4251| PENDING|
+---+--------+----------+-----------+--------+
only showing top 20 rows

In [90]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|   sample|
+---------+

In [70]:
spark.sql("create database if not exists sample")

DataFrame[]

In [91]:
spark.sql("show databases").filter(" namespace = 'sample' ").show()

+---------+
|namespace|
+---------+
|   sample|
+---------+

In [77]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |df1_table|       true|
+---------+---------+-----------+

In [79]:
spark.sql("use sample")

DataFrame[]

In [97]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [94]:
spark.stop()