In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("transformations").getOrCreate()

In [3]:
spark

map vs flatMap

In [4]:
spark.sparkContext.parallelize([
    "Hello world",
    "This is a Spark example",
    "We're using map and flatMap"]).map(lambda x : x.split(" ")).collect()

[['Hello', 'world'],
 ['This', 'is', 'a', 'Spark', 'example'],
 ["We're", 'using', 'map', 'and', 'flatMap']]

In [5]:
spark.sparkContext.parallelize([
    "Hello world",
    "This is a Spark example",
    "We're using map and flatMap"]).flatMap(lambda x : x.split(" ")).collect()

['Hello',
 'world',
 'This',
 'is',
 'a',
 'Spark',
 'example',
 "We're",
 'using',
 'map',
 'and',
 'flatMap']

reduceByKey vs reduce vs countByValue

In [10]:
#reduceByKey is a transformation

spark.sparkContext.parallelize([1,2,3,4,5,6,7,8,9,3,5,6,7]). \
    map(lambda x  : (x,1)). \
    reduceByKey(lambda x,y : x+y ). \
    collect()

[(4, 1), (8, 1), (1, 1), (5, 2), (9, 1), (2, 1), (6, 2), (3, 2), (7, 2)]

In [11]:
#reduce is action
spark.sparkContext.parallelize([1,2,3,4,5,6,7,8,9,3,5,6,7]). \
        reduce( lambda x,y : x+y)

66

In [13]:
#countByValue is an action
spark.sparkContext.parallelize([1,2,3,4,5,6,7,8,9,3,5,6,7]). \
    map(lambda x  : x). \
        countByValue()

defaultdict(int, {1: 1, 2: 1, 3: 2, 4: 1, 5: 2, 6: 2, 7: 2, 8: 1, 9: 1})

In [14]:
spark.stop()

reduceByKey  vs  groupByKey

In [15]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("transformations").getOrCreate()

In [21]:
spark

In [16]:
superstore_rdd = spark.sparkContext.textFile("hdfs://localhost:9000/user/tkm/data/superstore.csv")

In [22]:
superstore_rdd.take(5)

['1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0,41.9136',
 '2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.94,3,0,219.582',
 '3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters by Universal,14.62,2,0,6.8714',
 "4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.031",
 "5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164"]

In [24]:
country_rdd = superstore_rdd.map(lambda x : (x.split(",")[10],1))

In [25]:
country_rdd.take(5)

[('Kentucky', 1),
 ('Kentucky', 1),
 ('California', 1),
 ('Florida', 1),
 ('Florida', 1)]

In [26]:
reduced_rdd = country_rdd.reduceByKey(lambda x,y : x+y)

In [27]:
reduced_rdd.collect()

[('North Carolina', 249),
 ('Washington', 506),
 ('Wisconsin', 110),
 ('Nebraska', 38),
 ('Illinois', 492),
 ('Indiana', 149),
 ('New York', 1128),
 ('Virginia', 224),
 ('Tennessee', 183),
 ('Alabama', 61),
 ('Oregon', 124),
 ('Colorado', 182),
 ('Missouri', 66),
 ('Oklahoma', 66),
 ('Louisiana', 42),
 ('Connecticut', 82),
 ('New Jersey', 130),
 ('Nevada', 39),
 ('Mississippi', 53),
 ('New Hampshire', 27),
 ('Kansas', 24),
 ('South Dakota', 12),
 ('Idaho', 21),
 ('Wyoming', 1),
 ('Kentucky', 139),
 ('California', 2001),
 ('Florida', 383),
 ('Texas', 985),
 ('Utah', 53),
 ('Pennsylvania', 587),
 ('Minnesota', 89),
 ('Michigan', 255),
 ('Delaware', 96),
 ('Arizona', 224),
 ('South Carolina', 42),
 ('Iowa', 30),
 ('Ohio', 469),
 ('New Mexico', 37),
 ('Massachusetts', 135),
 ('Georgia', 184),
 ('Rhode Island', 56),
 ('Arkansas', 60),
 ('Montana', 15),
 ('Maryland', 105),
 ('District of Columbia', 10),
 ('Vermont', 11),
 ('Maine', 8),
 ('North Dakota', 7),
 ('West Virginia', 4)]

In [28]:
spark.stop()

In [34]:
from pyspark.sql import SparkSession
spark1 = SparkSession.builder.appName("reducebykey").getOrCreate()

superstore_rdd = spark1.sparkContext.textFile("hdfs://localhost:9000/user/tkm/data/superstore.csv")

country_rdd = superstore_rdd.map(lambda x : (x.split(",")[10],1))

reduced_rdd = country_rdd.reduceByKey(lambda x,y : x+y)

reduced_rdd.collect()

[('North Carolina', 249),
 ('Washington', 506),
 ('Wisconsin', 110),
 ('Nebraska', 38),
 ('Illinois', 492),
 ('Indiana', 149),
 ('New York', 1128),
 ('Virginia', 224),
 ('Tennessee', 183),
 ('Alabama', 61),
 ('Oregon', 124),
 ('Colorado', 182),
 ('Missouri', 66),
 ('Oklahoma', 66),
 ('Louisiana', 42),
 ('Connecticut', 82),
 ('New Jersey', 130),
 ('Nevada', 39),
 ('Mississippi', 53),
 ('New Hampshire', 27),
 ('Kansas', 24),
 ('South Dakota', 12),
 ('Idaho', 21),
 ('Wyoming', 1),
 ('Kentucky', 139),
 ('California', 2001),
 ('Florida', 383),
 ('Texas', 985),
 ('Utah', 53),
 ('Pennsylvania', 587),
 ('Minnesota', 89),
 ('Michigan', 255),
 ('Delaware', 96),
 ('Arizona', 224),
 ('South Carolina', 42),
 ('Iowa', 30),
 ('Ohio', 469),
 ('New Mexico', 37),
 ('Massachusetts', 135),
 ('Georgia', 184),
 ('Rhode Island', 56),
 ('Arkansas', 60),
 ('Montana', 15),
 ('Maryland', 105),
 ('District of Columbia', 10),
 ('Vermont', 11),
 ('Maine', 8),
 ('North Dakota', 7),
 ('West Virginia', 4)]

In [35]:
from pyspark.sql import SparkSession
spark2 = SparkSession.builder.appName("groupbykey").getOrCreate()

superstore_rdd = spark2.sparkContext.textFile("hdfs://localhost:9000/user/tkm/data/superstore.csv")

country_rdd = superstore_rdd.map(lambda x : (x.split(",")[10] , x.split(",")[17]))

grouped_rdd = country_rdd.groupByKey()

result_rdd = grouped_rdd.map(lambda x : (x[0] , len(x[1])))

result_rdd.collect()

[('North Carolina', 249),
 ('Washington', 506),
 ('Wisconsin', 110),
 ('Nebraska', 38),
 ('Illinois', 492),
 ('Indiana', 149),
 ('New York', 1128),
 ('Virginia', 224),
 ('Tennessee', 183),
 ('Alabama', 61),
 ('Oregon', 124),
 ('Colorado', 182),
 ('Missouri', 66),
 ('Oklahoma', 66),
 ('Louisiana', 42),
 ('Connecticut', 82),
 ('New Jersey', 130),
 ('Nevada', 39),
 ('Mississippi', 53),
 ('New Hampshire', 27),
 ('Kansas', 24),
 ('South Dakota', 12),
 ('Idaho', 21),
 ('Wyoming', 1),
 ('Kentucky', 139),
 ('California', 2001),
 ('Florida', 383),
 ('Texas', 985),
 ('Utah', 53),
 ('Pennsylvania', 587),
 ('Minnesota', 89),
 ('Michigan', 255),
 ('Delaware', 96),
 ('Arizona', 224),
 ('South Carolina', 42),
 ('Iowa', 30),
 ('Ohio', 469),
 ('New Mexico', 37),
 ('Massachusetts', 135),
 ('Georgia', 184),
 ('Rhode Island', 56),
 ('Arkansas', 60),
 ('Montana', 15),
 ('Maryland', 105),
 ('District of Columbia', 10),
 ('Vermont', 11),
 ('Maine', 8),
 ('North Dakota', 7),
 ('West Virginia', 4)]