In [21]:
#spark.sql
#spark.table
#spark.read
#spark.range
#spark.createDataFrame

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("dataFrame_Creation_Ways").getOrCreate()

###### first way

In [2]:
df1 = spark.read.csv("hdfs://localhost:9000/user/tkm/data/orders.csv",header = "true",inferSchema="True")

In [3]:
df1.show(2)

+---+--------+----------+-----------+-------+
|_c0|order_id|      date|customer_id| status|
+---+--------+----------+-----------+-------+
|  0|       1|09/11/2020|       3371| CLOSED|
|  1|       2|12/01/2020|       3902|PENDING|
+---+--------+----------+-----------+-------+
only showing top 2 rows

###### second way

In [4]:
df1.createOrReplaceTempView("order")

In [5]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [6]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |    order|       true|
+---------+---------+-----------+

In [7]:
df2 = spark.sql("select * from order")

In [8]:
df2.show(2)

+---+--------+----------+-----------+-------+
|_c0|order_id|      date|customer_id| status|
+---+--------+----------+-----------+-------+
|  0|       1|09/11/2020|       3371| CLOSED|
|  1|       2|12/01/2020|       3902|PENDING|
+---+--------+----------+-----------+-------+
only showing top 2 rows

###### third way

In [10]:
df3 = spark.table("order")

In [11]:
df3.show(2)

+---+--------+----------+-----------+-------+
|_c0|order_id|      date|customer_id| status|
+---+--------+----------+-----------+-------+
|  0|       1|09/11/2020|       3371| CLOSED|
|  1|       2|12/01/2020|       3902|PENDING|
+---+--------+----------+-----------+-------+
only showing top 2 rows

###### fourth way

In [12]:
df4 = spark.range(5)
df4.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [14]:
df4 = spark.range(1,8)
df4.show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
+---+

In [15]:
df4 = spark.range(1,8,2)
df4.show()

+---+
| id|
+---+
|  1|
|  3|
|  5|
|  7|
+---+

###### fifth way

In [4]:
ls = [
(1,'2013-07-25',11599,'CLOSED'),
(2,'2013-07-25',256,'PENDING_PAYMENT'),
(3,'2013-07-25',12111,'COMPLETE'),
(4,'2013-07-25',8827,'CLOSED'),
(6,'2013-07-25',7130,'COMPLETE'),
(7,'2013-07-25',4530,'COMPLETE'),
(8,'2013-07-25',2911,'PROCESSING'),
(9,'2013-07-25',5657,'PENDING_PAYMENT'),
(10,'2013-07-25',5648,'PENDING_PAYMENT')
]

In [6]:
df_raw = spark.createDataFrame(ls)
df_raw.show()

+---+----------+-----+---------------+
| _1|        _2|   _3|             _4|
+---+----------+-----+---------------+
|  1|2013-07-25|11599|         CLOSED|
|  2|2013-07-25|  256|PENDING_PAYMENT|
|  3|2013-07-25|12111|       COMPLETE|
|  4|2013-07-25| 8827|         CLOSED|
|  6|2013-07-25| 7130|       COMPLETE|
|  7|2013-07-25| 4530|       COMPLETE|
|  8|2013-07-25| 2911|     PROCESSING|
|  9|2013-07-25| 5657|PENDING_PAYMENT|
| 10|2013-07-25| 5648|PENDING_PAYMENT|
+---+----------+-----+---------------+

In [7]:
df_raw.printSchema()

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)
 |-- _4: string (nullable = true)

In [9]:
df_column = df_raw.toDF("orderid","orderdate","customerid","orderstatus")
df_column.show()

+-------+----------+----------+---------------+
|orderid| orderdate|customerid|    orderstatus|
+-------+----------+----------+---------------+
|      1|2013-07-25|     11599|         CLOSED|
|      2|2013-07-25|       256|PENDING_PAYMENT|
|      3|2013-07-25|     12111|       COMPLETE|
|      4|2013-07-25|      8827|         CLOSED|
|      6|2013-07-25|      7130|       COMPLETE|
|      7|2013-07-25|      4530|       COMPLETE|
|      8|2013-07-25|      2911|     PROCESSING|
|      9|2013-07-25|      5657|PENDING_PAYMENT|
|     10|2013-07-25|      5648|PENDING_PAYMENT|
+-------+----------+----------+---------------+

In [10]:
df_column.printSchema()

root
 |-- orderid: long (nullable = true)
 |-- orderdate: string (nullable = true)
 |-- customerid: long (nullable = true)
 |-- orderstatus: string (nullable = true)

In [11]:
order_column = ["order_id","order_date","customer_id","order_status"]
df = spark.createDataFrame(ls,order_column)
df.show()

+--------+----------+-----------+---------------+
|order_id|order_date|customer_id|   order_status|
+--------+----------+-----------+---------------+
|       1|2013-07-25|      11599|         CLOSED|
|       2|2013-07-25|        256|PENDING_PAYMENT|
|       3|2013-07-25|      12111|       COMPLETE|
|       4|2013-07-25|       8827|         CLOSED|
|       6|2013-07-25|       7130|       COMPLETE|
|       7|2013-07-25|       4530|       COMPLETE|
|       8|2013-07-25|       2911|     PROCESSING|
|       9|2013-07-25|       5657|PENDING_PAYMENT|
|      10|2013-07-25|       5648|PENDING_PAYMENT|
+--------+----------+-----------+---------------+

In [12]:
df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [15]:
order_schema = " order_id int ,order_date string, customer_id int ,order_status string"
df = spark.createDataFrame(ls,order_schema)
df.show()

+--------+----------+-----------+---------------+
|order_id|order_date|customer_id|   order_status|
+--------+----------+-----------+---------------+
|       1|2013-07-25|      11599|         CLOSED|
|       2|2013-07-25|        256|PENDING_PAYMENT|
|       3|2013-07-25|      12111|       COMPLETE|
|       4|2013-07-25|       8827|         CLOSED|
|       6|2013-07-25|       7130|       COMPLETE|
|       7|2013-07-25|       4530|       COMPLETE|
|       8|2013-07-25|       2911|     PROCESSING|
|       9|2013-07-25|       5657|PENDING_PAYMENT|
|      10|2013-07-25|       5648|PENDING_PAYMENT|
+--------+----------+-----------+---------------+

In [16]:
df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [17]:
from pyspark.sql.types import *
order_schema = StructType([
    StructField("orderid",IntegerType()),
    StructField("orderdate",StringType()),
    StructField("customerid",IntegerType()),
    StructField("orderstatus",StringType())
])
df = spark.createDataFrame(ls,order_schema)
df.show()

+-------+----------+----------+---------------+
|orderid| orderdate|customerid|    orderstatus|
+-------+----------+----------+---------------+
|      1|2013-07-25|     11599|         CLOSED|
|      2|2013-07-25|       256|PENDING_PAYMENT|
|      3|2013-07-25|     12111|       COMPLETE|
|      4|2013-07-25|      8827|         CLOSED|
|      6|2013-07-25|      7130|       COMPLETE|
|      7|2013-07-25|      4530|       COMPLETE|
|      8|2013-07-25|      2911|     PROCESSING|
|      9|2013-07-25|      5657|PENDING_PAYMENT|
|     10|2013-07-25|      5648|PENDING_PAYMENT|
+-------+----------+----------+---------------+

In [18]:
df.printSchema()

root
 |-- orderid: integer (nullable = true)
 |-- orderdate: string (nullable = true)
 |-- customerid: integer (nullable = true)
 |-- orderstatus: string (nullable = true)

In [20]:
from pyspark.sql.functions import *
df_correct = df.withColumn("orderdate",to_date("orderdate","yyyy-mm-dd"))
df_correct.printSchema()

root
 |-- orderid: integer (nullable = true)
 |-- orderdate: date (nullable = true)
 |-- customerid: integer (nullable = true)
 |-- orderstatus: string (nullable = true)