In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("duplicates").getOrCreate()

In [8]:
ls = [
    (1,"kapil",34),
    (1,"kapil",34),
    (2,"Krishna",32),
    (3,"Krishna",32),
]

In [9]:
df = spark.createDataFrame(ls).toDF("id","name","age")
df.show()
df.printSchema()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  kapil| 34|
|  1|  kapil| 34|
|  2|Krishna| 32|
|  3|Krishna| 32|
+---+-------+---+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [10]:
df1 = df.distinct()
df1.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  kapil| 34|
|  2|Krishna| 32|
|  3|Krishna| 32|
+---+-------+---+

In [19]:
df.select("id").distinct().show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
+---+

In [21]:
df.select("name","age").distinct().show()

+-------+---+
|   name|age|
+-------+---+
|  kapil| 34|
|Krishna| 32|
+-------+---+

In [11]:
df2 = df.dropDuplicates()
df2.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  kapil| 34|
|  2|Krishna| 32|
|  3|Krishna| 32|
+---+-------+---+

In [16]:
df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  kapil| 34|
|  1|  kapil| 34|
|  2|Krishna| 32|
|  3|Krishna| 32|
+---+-------+---+

In [15]:
df.dropDuplicates(["name","age"]).show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  kapil| 34|
|  2|Krishna| 32|
+---+-------+---+

In [18]:
df.dropDuplicates(["id"]).show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  kapil| 34|
|  2|Krishna| 32|
|  3|Krishna| 32|
+---+-------+---+

In [22]:
spark.stop()