In [21]:
#spark.createDataFrame(rdd,schema)
#spark.createDataFrame(rdd).toDF([list of column names])
#rdd.toDF(schema)

In [21]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

#Step 1: Create a SparkSession
spark = SparkSession.builder.appName("RDD to DataFrame example").getOrCreate()

#Step 1: Create a SparkSession
spark = SparkSession.builder \
    .appName("RDD to DataFrame example") \
    .getOrCreate()

# Step 2: Define the schema for your DataFrame
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    # Add more fields as needed
])

# Step 3: Create an RDD containing your data
data_rdd = spark.sparkContext.parallelize([
    ("Alice", 30),
    ("Bob", 25),
    ("Charlie", 35),
    # Add more data as needed
])

# Step 4: Convert the RDD into a DataFrame using the defined schema
df = spark.createDataFrame(data_rdd, schema)

# Show the DataFrame
df.show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 30|
|    Bob| 25|
|Charlie| 35|
+-------+---+

In [ ]:
! hadoop fs -head /user/tkm/retail_db/orders.csv

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

spark = SparkSession.builder.appName("RDD to DataFrame example").getOrCreate()

orders_rdd = spark.sparkContext.textFile("hdfs://localhost:9000/user/tkm/retail_db/orders.csv")

mapped_rdd = orders_rdd.map(lambda line: line.split(","))

orders_schema= StructType([
    StructField("orderid",StringType()),
    StructField("orderdate",StringType()),
    StructField("customerid",StringType()),
    StructField("orderstatus",StringType())
])

df = spark.createDataFrame(mapped_rdd, orders_schema)

df.show()

+-------+--------------------+----------+---------------+
|orderid|           orderdate|customerid|    orderstatus|
+-------+--------------------+----------+---------------+
|      1|2013-07-25 00:00:...|     11599|         CLOSED|
|      2|2013-07-25 00:00:...|       256|PENDING_PAYMENT|
|      3|2013-07-25 00:00:...|     12111|       COMPLETE|
|      4|2013-07-25 00:00:...|      8827|         CLOSED|
|      5|2013-07-25 00:00:...|     11318|       COMPLETE|
|      6|2013-07-25 00:00:...|      7130|       COMPLETE|
|      7|2013-07-25 00:00:...|      4530|       COMPLETE|
|      8|2013-07-25 00:00:...|      2911|     PROCESSING|
|      9|2013-07-25 00:00:...|      5657|PENDING_PAYMENT|
|     10|2013-07-25 00:00:...|      5648|PENDING_PAYMENT|
|     11|2013-07-25 00:00:...|       918| PAYMENT_REVIEW|
|     12|2013-07-25 00:00:...|      1837|         CLOSED|
|     13|2013-07-25 00:00:...|      9149|PENDING_PAYMENT|
|     14|2013-07-25 00:00:...|      9842|     PROCESSING|
|     15|2013-07-25 00:00:...|      2568|       COMPLETE|
|     16|2013-07-25 00:00:...|      7276|PENDING_PAYMENT|
|     17|2013-07-25 00:00:...|      2667|       COMPLETE|
|     18|2013-07-25 00:00:...|      1205|         CLOSED|
|     19|2013-07-25 00:00:...|      9488|PENDING_PAYMENT|
|     20|2013-07-25 00:00:...|      9198|     PROCESSING|
+-------+--------------------+----------+---------------+
only showing top 20 rows

In [27]:
df = mapped_rdd.toDF(orders_schema)
df.show()

+-------+--------------------+----------+---------------+
|orderid|           orderdate|customerid|    orderstatus|
+-------+--------------------+----------+---------------+
|      1|2013-07-25 00:00:...|     11599|         CLOSED|
|      2|2013-07-25 00:00:...|       256|PENDING_PAYMENT|
|      3|2013-07-25 00:00:...|     12111|       COMPLETE|
|      4|2013-07-25 00:00:...|      8827|         CLOSED|
|      5|2013-07-25 00:00:...|     11318|       COMPLETE|
|      6|2013-07-25 00:00:...|      7130|       COMPLETE|
|      7|2013-07-25 00:00:...|      4530|       COMPLETE|
|      8|2013-07-25 00:00:...|      2911|     PROCESSING|
|      9|2013-07-25 00:00:...|      5657|PENDING_PAYMENT|
|     10|2013-07-25 00:00:...|      5648|PENDING_PAYMENT|
|     11|2013-07-25 00:00:...|       918| PAYMENT_REVIEW|
|     12|2013-07-25 00:00:...|      1837|         CLOSED|
|     13|2013-07-25 00:00:...|      9149|PENDING_PAYMENT|
|     14|2013-07-25 00:00:...|      9842|     PROCESSING|
|     15|2013-07-25 00:00:...|      2568|       COMPLETE|
|     16|2013-07-25 00:00:...|      7276|PENDING_PAYMENT|
|     17|2013-07-25 00:00:...|      2667|       COMPLETE|
|     18|2013-07-25 00:00:...|      1205|         CLOSED|
|     19|2013-07-25 00:00:...|      9488|PENDING_PAYMENT|
|     20|2013-07-25 00:00:...|      9198|     PROCESSING|
+-------+--------------------+----------+---------------+
only showing top 20 rows

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

spark = SparkSession.builder.appName("RDD to DataFrame example").getOrCreate()

orders_rdd = spark.sparkContext.textFile("hdfs://localhost:9000/user/tkm/retail_db/orders.csv")

In [2]:
orders_rdd.take(5)

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE']

In [3]:
mapped_rdd = orders_rdd.map(lambda x :(int(x.split(",")[0]) ,x.split(",")[1] ,int(x.split(",")[2]) ,x.split(",")[3]))

In [4]:
mapped_rdd.take(5)

[(1, '2013-07-25 00:00:00.0', 11599, 'CLOSED'),
 (2, '2013-07-25 00:00:00.0', 256, 'PENDING_PAYMENT'),
 (3, '2013-07-25 00:00:00.0', 12111, 'COMPLETE'),
 (4, '2013-07-25 00:00:00.0', 8827, 'CLOSED'),
 (5, '2013-07-25 00:00:00.0', 11318, 'COMPLETE')]

In [5]:
order_schema = "order_id int ,order_date string ,customer_id int ,order_status string"

In [6]:
df = spark.createDataFrame(mapped_rdd , order_schema)
df.show(4)

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|
+--------+--------------------+-----------+---------------+
only showing top 4 rows

In [7]:
df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [8]:
from pyspark.sql.functions import to_timestamp
df_new = df.withColumn("order_date" ,to_timestamp("order_date"))
df_new.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: timestamp (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [9]:
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.appName("RDD to DataFrame example").getOrCreate()

orders_rdd = spark.sparkContext.textFile("hdfs://localhost:9000/user/tkm/retail_db/orders.csv")

mapped_rdd = orders_rdd.map(lambda x :(int(x.split(",")[0]) ,
                                       x.split(",")[1] ,
                                       int(x.split(",")[2]) ,
                                       x.split(",")[3]
                                       )
                            )

order_schema = "order_id int ,order_date string ,customer_id int ,order_status string"

df = spark.createDataFrame(mapped_rdd , order_schema)

from pyspark.sql.functions import to_timestamp
df_new = df.withColumn("order_date" ,to_timestamp("order_date"))

df_new.printSchema()

df_new.show(4)

root
 |-- order_id: integer (nullable = true)
 |-- order_date: timestamp (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

+--------+-------------------+-----------+---------------+
|order_id|         order_date|customer_id|   order_status|
+--------+-------------------+-----------+---------------+
|       1|2013-07-25 00:00:00|      11599|         CLOSED|
|       2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:00|      12111|       COMPLETE|
|       4|2013-07-25 00:00:00|       8827|         CLOSED|
+--------+-------------------+-----------+---------------+
only showing top 4 rows

In [10]:
df = spark.createDataFrame(mapped_rdd )
df.show(3)

+---+--------------------+-----+---------------+
| _1|                  _2|   _3|             _4|
+---+--------------------+-----+---------------+
|  1|2013-07-25 00:00:...|11599|         CLOSED|
|  2|2013-07-25 00:00:...|  256|PENDING_PAYMENT|
|  3|2013-07-25 00:00:...|12111|       COMPLETE|
+---+--------------------+-----+---------------+
only showing top 3 rows

In [16]:
new_df = df.toDF("order_id" ,"order_date" ,"customer_id" ,"order_status")
new_df.show(3)

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
+--------+--------------------+-----------+---------------+
only showing top 3 rows

In [15]:
new_df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [17]:
orders_rdd = spark.sparkContext.textFile("hdfs://localhost:9000/user/tkm/retail_db/orders.csv")

mapped_rdd = orders_rdd.map(lambda x :(int(x.split(",")[0]) ,
                                       x.split(",")[1] ,
                                       int(x.split(",")[2]) ,
                                       x.split(",")[3]
                                       )
                            )
df = spark.createDataFrame(mapped_rdd )
new_df = df.toDF("order_id" ,"order_date" ,"customer_id" ,"order_status")

new_df.show(3)

new_df.printSchema()

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
+--------+--------------------+-----------+---------------+
only showing top 3 rows

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [20]:
orders_rdd = spark.sparkContext.textFile("hdfs://localhost:9000/user/tkm/retail_db/orders.csv")

mapped_rdd = orders_rdd.map(lambda x :(int(x.split(",")[0]) ,
                                       x.split(",")[1] ,
                                       int(x.split(",")[2]) ,
                                       x.split(",")[3]
                                       )
                            )

order_schema = "order_id int ,order_date string ,customer_id int ,order_status string"

df_mod = mapped_rdd.toDF(order_schema)

df_mod.show(3)

df_mod.printSchema()

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
+--------+--------------------+-----------+---------------+
only showing top 3 rows

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)