## Import libraries and Creating SparkSession

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Grouping Aggregation").getOrCreate()

In [4]:
from pyspark.sql.functions import *

## Loading DataSets

In [2]:
orders_df = spark.read.format("csv").option("header","true").option("innferSchema","true") \
                .load(r"C:\Users\TARUN\Desktop\Pyspark\Trendytech\week8\walmart")

In [3]:
orders_df.show(3)

+---------+---------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Quantity|InvoiceDate|UnitPrice|CustomerId|Country|
+---------+---------+--------+-----------+---------+----------+-------+
|  INV0006|     A002|      15| 2023-01-02|    95.43|      1003| Canada|
|  INV0007|     A005|       4| 2023-11-17|    30.55|      1005| Canada|
|  INV0007|     A002|       5| 2023-07-11|    76.49|      1005| Canada|
+---------+---------+--------+-----------+---------+----------+-------+
only showing top 3 rows

## Programatic Way

In [7]:
orders_df \
.groupBy("Country","InvoiceNo") \
.agg(sum("Quantity").alias("total_quantity"),  round(sum(expr("Quantity * UnitPrice")),2).alias("amount")) \
.sort("Country") \
.show()

+-------+---------+--------------+-------+
|Country|InvoiceNo|total_quantity| amount|
+-------+---------+--------------+-------+
| Canada|  INV0010|          17.0| 729.13|
| Canada|  INV0006|          15.0|1431.45|
| Canada|  INV0009|          18.0| 246.78|
| Canada|  INV0007|           9.0| 504.65|
| Canada|  INV0004|           7.0| 192.01|
| Canada|  INV0003|          13.0| 475.02|
| Canada|  INV0001|           9.0|  207.9|
| France|  INV0010|          10.0|  995.2|
| France|  INV0009|           8.0|  758.0|
| France|  INV0004|          10.0|  856.8|
| France|  INV0003|           1.0|  20.68|
| France|  INV0006|          29.0|1093.92|
|Germany|  INV0008|          11.0|  32.23|
|Germany|  INV0004|          33.0|1562.94|
|Germany|  INV0005|          25.0| 831.24|
|     UK|  INV0002|          14.0|   55.3|
|     UK|  INV0003|          15.0|  428.1|
|     UK|  INV0006|           3.0| 258.75|
|     UK|  INV0005|          30.0|1984.84|
|    USA|  INV0004|          20.0| 1163.2|
+-------+---------+--------------+-------+
only showing top 20 rows

In [23]:
orders_df \
.groupBy("Country","InvoiceNo") \
.agg(sum("Quantity").alias("total_quantity"),  round(sum(expr("Quantity * UnitPrice")),2).alias("amount")) \
.sort(col("Country").desc()) \
.show()

+-------+---------+--------------+-------+
|Country|InvoiceNo|total_quantity| amount|
+-------+---------+--------------+-------+
|    USA|  INV0004|          20.0| 1163.2|
|    USA|  INV0003|          13.0| 288.47|
|    USA|  INV0006|           9.0| 775.98|
|     UK|  INV0002|          14.0|   55.3|
|     UK|  INV0003|          15.0|  428.1|
|     UK|  INV0006|           3.0| 258.75|
|     UK|  INV0005|          30.0|1984.84|
|Germany|  INV0008|          11.0|  32.23|
|Germany|  INV0004|          33.0|1562.94|
|Germany|  INV0005|          25.0| 831.24|
| France|  INV0010|          10.0|  995.2|
| France|  INV0009|           8.0|  758.0|
| France|  INV0004|          10.0|  856.8|
| France|  INV0003|           1.0|  20.68|
| France|  INV0006|          29.0|1093.92|
| Canada|  INV0010|          17.0| 729.13|
| Canada|  INV0006|          15.0|1431.45|
| Canada|  INV0009|          18.0| 246.78|
| Canada|  INV0007|           9.0| 504.65|
| Canada|  INV0004|           7.0| 192.01|
+-------+---------+--------------+-------+
only showing top 20 rows

In [24]:
orders_df \
.groupBy("Country","InvoiceNo") \
.agg(sum("Quantity").alias("total_quantity"),  round(sum(expr("Quantity * UnitPrice")),2).alias("amount")) \
.sort(col("Country").desc()) \
.select("Country","InvoiceNo","amount","total_quantity") \
.show()

+-------+---------+-------+--------------+
|Country|InvoiceNo| amount|total_quantity|
+-------+---------+-------+--------------+
|    USA|  INV0004| 1163.2|          20.0|
|    USA|  INV0003| 288.47|          13.0|
|    USA|  INV0006| 775.98|           9.0|
|     UK|  INV0002|   55.3|          14.0|
|     UK|  INV0003|  428.1|          15.0|
|     UK|  INV0006| 258.75|           3.0|
|     UK|  INV0005|1984.84|          30.0|
|Germany|  INV0008|  32.23|          11.0|
|Germany|  INV0004|1562.94|          33.0|
|Germany|  INV0005| 831.24|          25.0|
| France|  INV0010|  995.2|          10.0|
| France|  INV0009|  758.0|           8.0|
| France|  INV0004|  856.8|          10.0|
| France|  INV0003|  20.68|           1.0|
| France|  INV0006|1093.92|          29.0|
| Canada|  INV0010| 729.13|          17.0|
| Canada|  INV0006|1431.45|          15.0|
| Canada|  INV0009| 246.78|          18.0|
| Canada|  INV0007| 504.65|           9.0|
| Canada|  INV0004| 192.01|           7.0|
+-------+---------+-------+--------------+
only showing top 20 rows

## Expr Way

In [9]:
orders_df \
.groupBy("Country","InvoiceNo") \
.agg(expr("sum(Quantity) as total_quantity"), expr("round(sum(Quantity * UnitPrice),2) as amount")) \
.sort("Country") \
.show()

+-------+---------+--------------+-------+
|Country|InvoiceNo|total_quantity| amount|
+-------+---------+--------------+-------+
| Canada|  INV0010|          17.0| 729.13|
| Canada|  INV0006|          15.0|1431.45|
| Canada|  INV0009|          18.0| 246.78|
| Canada|  INV0007|           9.0| 504.65|
| Canada|  INV0004|           7.0| 192.01|
| Canada|  INV0003|          13.0| 475.02|
| Canada|  INV0001|           9.0|  207.9|
| France|  INV0010|          10.0|  995.2|
| France|  INV0009|           8.0|  758.0|
| France|  INV0004|          10.0|  856.8|
| France|  INV0003|           1.0|  20.68|
| France|  INV0006|          29.0|1093.92|
|Germany|  INV0008|          11.0|  32.23|
|Germany|  INV0004|          33.0|1562.94|
|Germany|  INV0005|          25.0| 831.24|
|     UK|  INV0002|          14.0|   55.3|
|     UK|  INV0003|          15.0|  428.1|
|     UK|  INV0006|           3.0| 258.75|
|     UK|  INV0005|          30.0|1984.84|
|    USA|  INV0004|          20.0| 1163.2|
+-------+---------+--------------+-------+
only showing top 20 rows

In [17]:
orders_df \
.groupBy("Country","InvoiceNo") \
.agg(expr("sum(Quantity) as total_quantity"), expr("round(sum(Quantity * UnitPrice),2) as amount")) \
.sort(col("Country").desc()) \
.show()

+-------+---------+--------------+-------+
|Country|InvoiceNo|total_quantity| amount|
+-------+---------+--------------+-------+
|    USA|  INV0004|          20.0| 1163.2|
|    USA|  INV0003|          13.0| 288.47|
|    USA|  INV0006|           9.0| 775.98|
|     UK|  INV0002|          14.0|   55.3|
|     UK|  INV0003|          15.0|  428.1|
|     UK|  INV0006|           3.0| 258.75|
|     UK|  INV0005|          30.0|1984.84|
|Germany|  INV0008|          11.0|  32.23|
|Germany|  INV0004|          33.0|1562.94|
|Germany|  INV0005|          25.0| 831.24|
| France|  INV0010|          10.0|  995.2|
| France|  INV0009|           8.0|  758.0|
| France|  INV0004|          10.0|  856.8|
| France|  INV0003|           1.0|  20.68|
| France|  INV0006|          29.0|1093.92|
| Canada|  INV0010|          17.0| 729.13|
| Canada|  INV0006|          15.0|1431.45|
| Canada|  INV0009|          18.0| 246.78|
| Canada|  INV0007|           9.0| 504.65|
| Canada|  INV0004|           7.0| 192.01|
+-------+---------+--------------+-------+
only showing top 20 rows

In [18]:
orders_df \
.groupBy("Country","InvoiceNo") \
.agg(expr("sum(Quantity) as total_quantity"), expr("round(sum(Quantity * UnitPrice),2) as amount")) \
.orderBy(col("Country").desc()) \
.show()

+-------+---------+--------------+-------+
|Country|InvoiceNo|total_quantity| amount|
+-------+---------+--------------+-------+
|    USA|  INV0004|          20.0| 1163.2|
|    USA|  INV0003|          13.0| 288.47|
|    USA|  INV0006|           9.0| 775.98|
|     UK|  INV0002|          14.0|   55.3|
|     UK|  INV0003|          15.0|  428.1|
|     UK|  INV0006|           3.0| 258.75|
|     UK|  INV0005|          30.0|1984.84|
|Germany|  INV0008|          11.0|  32.23|
|Germany|  INV0004|          33.0|1562.94|
|Germany|  INV0005|          25.0| 831.24|
| France|  INV0010|          10.0|  995.2|
| France|  INV0009|           8.0|  758.0|
| France|  INV0004|          10.0|  856.8|
| France|  INV0003|           1.0|  20.68|
| France|  INV0006|          29.0|1093.92|
| Canada|  INV0010|          17.0| 729.13|
| Canada|  INV0006|          15.0|1431.45|
| Canada|  INV0009|          18.0| 246.78|
| Canada|  INV0007|           9.0| 504.65|
| Canada|  INV0004|           7.0| 192.01|
+-------+---------+--------------+-------+
only showing top 20 rows

In [25]:

orders_df \
.groupBy("Country","InvoiceNo") \
.agg(expr("sum(Quantity) as total_quantity"), expr("round(sum(Quantity * UnitPrice),2) as amount")) \
.orderBy(col("Country").desc()) \
.select("Country","InvoiceNo","amount","total_quantity") \
.show()

+-------+---------+-------+--------------+
|Country|InvoiceNo| amount|total_quantity|
+-------+---------+-------+--------------+
|    USA|  INV0004| 1163.2|          20.0|
|    USA|  INV0003| 288.47|          13.0|
|    USA|  INV0006| 775.98|           9.0|
|     UK|  INV0002|   55.3|          14.0|
|     UK|  INV0003|  428.1|          15.0|
|     UK|  INV0006| 258.75|           3.0|
|     UK|  INV0005|1984.84|          30.0|
|Germany|  INV0008|  32.23|          11.0|
|Germany|  INV0004|1562.94|          33.0|
|Germany|  INV0005| 831.24|          25.0|
| France|  INV0010|  995.2|          10.0|
| France|  INV0009|  758.0|           8.0|
| France|  INV0004|  856.8|          10.0|
| France|  INV0003|  20.68|           1.0|
| France|  INV0006|1093.92|          29.0|
| Canada|  INV0010| 729.13|          17.0|
| Canada|  INV0006|1431.45|          15.0|
| Canada|  INV0009| 246.78|          18.0|
| Canada|  INV0007| 504.65|           9.0|
| Canada|  INV0004| 192.01|           7.0|
+-------+---------+-------+--------------+
only showing top 20 rows

## SQL Way

In [10]:
orders_df.createOrReplaceTempView("orders")

In [13]:
spark.sql("""
          select Country ,
          InvoiceNo,
          sum(Quantity) as total_quantity,
          round(sum(Quantity*UnitPrice),2) as amount
          from orders
          group by Country,InvoiceNo
          order by Country asc
          """) \
    .show()

+-------+---------+--------------+-------+
|Country|InvoiceNo|total_quantity| amount|
+-------+---------+--------------+-------+
| Canada|  INV0010|          17.0| 729.13|
| Canada|  INV0006|          15.0|1431.45|
| Canada|  INV0009|          18.0| 246.78|
| Canada|  INV0007|           9.0| 504.65|
| Canada|  INV0004|           7.0| 192.01|
| Canada|  INV0003|          13.0| 475.02|
| Canada|  INV0001|           9.0|  207.9|
| France|  INV0010|          10.0|  995.2|
| France|  INV0009|           8.0|  758.0|
| France|  INV0004|          10.0|  856.8|
| France|  INV0003|           1.0|  20.68|
| France|  INV0006|          29.0|1093.92|
|Germany|  INV0008|          11.0|  32.23|
|Germany|  INV0004|          33.0|1562.94|
|Germany|  INV0005|          25.0| 831.24|
|     UK|  INV0002|          14.0|   55.3|
|     UK|  INV0003|          15.0|  428.1|
|     UK|  INV0006|           3.0| 258.75|
|     UK|  INV0005|          30.0|1984.84|
|    USA|  INV0004|          20.0| 1163.2|
+-------+---------+--------------+-------+
only showing top 20 rows

In [31]:
spark.sql("""
          with cte as(
                    select Country ,
                    InvoiceNo,
                    sum(Quantity) as total_quantity,
                    round(sum(Quantity*UnitPrice),2) as amount
                    from orders
                    group by Country,InvoiceNo
                    order by Country asc
                      ),
              cte1 as(
                  select * from cte where Country = 'UK'
                      )
          select * from cte1 where total_quantity > 3.0
          
          """) \
    .show()

+-------+---------+--------------+-------+
|Country|InvoiceNo|total_quantity| amount|
+-------+---------+--------------+-------+
|     UK|  INV0002|          14.0|   55.3|
|     UK|  INV0003|          15.0|  428.1|
|     UK|  INV0005|          30.0|1984.84|
+-------+---------+--------------+-------+